PORT="YOUR_PORT"
FRONTEND_URL="YOUR_FRONTEND_URL"
SUPABASE_URL="YOUR_SUPABASE_URL"
SUPABASE_ANON_KEY="YOUR_SUPABASE_ANON_KEY"
SUPABASE_SERVICE_ROLE_KEY="YOUR_SUPABASE_SERVICE_ROLE_KEY"
STORAGE_BUCKET_ATTACHMENTS="YOUR_ATTACHMENTS_STORAGE_BUCKET_NAME"
STORAGE_BUCKET_PROFILE_PICTURES="YOUR_PROFILE_PICTURES_STORAGE_BUCKET_NAME"
GEMINI_API_KEY="YOUR_GEMINI_API_KEY"
GEMINI_API_URL="https://generativelanguage.googleapis.com/v1beta/models/gemini-3.6-flash:generateContent?key="
